* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #101628;
}

.nav__list__desktop {
  display: none;
}

header {
  background-color: #e3e2e2;
  text-align: center;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.dot {
  color: #fe5541;
}

html {
  scroll-behavior: smooth;
}