* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #101628;
}

.nav__list__desktop {
  display: none;
}

header {
  background-color: #e3e2e2;
  text-align: center;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.dot {
  color: #fe5541;
}

html {
  scroll-behavior: smooth;
}

.nav-container.dark,
.nav.dark {
  background-color: #242323;
}

#theme-toggler.dark,
.contact-icon.dark,
.bold.dark {
  color: #fe5541;
}

.main.dark,
.experience.dark,
.modal.dark {
  background-color: #101628;
}

.text-dark-mode.dark {
  color: #e3e2e2;
}

.projects.dark,
.contact.dark {
  background-color: #242323;
}

.subHeading.dark {
  color: #e3e2e2;
}

.nav__links.dark {
  color: #e3e2e2;
}