@import "./_base.scss";

.nav-container.dark,
.nav.dark {
  background-color: $background-color-dark;
}

#theme-toggler.dark,
.contact-icon.dark,
.bold.dark {
  color: $pink-color;
}
.main.dark,
.experience.dark {
  background-color: $background-color;
}

.text-dark-mode.dark {
  color: white;
}

.projects.dark,
.contact.dark {
  background-color: $background-color-dark;
}

.subHeading.dark {
  color: $block-color;
}

// hamburger menu is on the main CSS
