@import "./base";

.portfolio-modal {
  display: none;
  position: fixed;
  z-index: 10;
  background: white;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
  box-shadow: 0 0 0 5em rgba(black, 0.5);
  overflow-y: scroll;
  text-align: center;
  padding: 20px;
  border-radius: 20px;

  &.is-open {
    display: block;
  }
}

.project-title {
  font-size: 1.5em;
  color: $pink-color;
  padding-bottom: 10px;
}
.portfolio-subtitle {
  font-weight: 700;
  padding-bottom: 10px;
}

.portfolio-content > p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.close-modal {
  background: $pink-color;
  cursor: pointer;
  position: fixed;
  right: 2.7em;
  top: 2.7em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding: 2px;
  border: none;
}

.close-modal > h1 {
  font-weight: 500;
  font-size: 1.2em;
  color: white;
}
