@import "./_base.scss";
@import "./modal.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}
i:hover {
  cursor: pointer;
}
.light-text {
  color: $grey-color;
}

// nav  //////////////////////////////////////////////////////////////

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#theme-toggler {
  margin-right: 17%;
  font-size: 1.4em;
  color: $background-color;
}

.logo {
  margin: 0;
  padding: 10px;
  max-height: 4em;
}

// Hamburger menu
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 5%;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

// creating the 3 lines */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  // /* this code creates 3 lines
  display: block;
  background-color: $background-color;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label.dark span,
.nav-toggle-label.dark span::before,
.nav-toggle-label.dark span::after {
  background-color: $pink-color;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  /* this will change it to no content so just have the lines */
  content: " ";
  position: absolute;
}

// reates top & bottom lines
.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

// /* general nav stayling */
nav {
  background-color: $grey-color;
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;

  /* settings so it only appears when select the 3 lines */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  list-style: none;
  padding: 15px;
}

nav li {
  margin-bottom: 1em;
}

nav a {
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  /* so invisible until check box & they fade in */
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

// /* below will display the NAV only of the checked box is ticked */
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav__links:hover {
  color: $pink-color;
}

// // HEADING /////////////////////////////////////////////
.welcome {
  padding-top: 200px;
  font-size: 5.5em;
  display: flex;

  &__hi {
    margin-left: 30px;
  }

  &__job {
    margin-left: 35px;
    font-size: 1.5em;
  }
}

.welcome__info {
  margin-left: 35px;
  padding-top: 10px;
  font-size: 1.2em;
  margin-bottom: 250px;
}

// // SUB-HEADINGS ///////////

.subHeading {
  position: absolute;
  font-size: 3.2em;
  font-weight: 900;
  margin-left: 30px;
  margin-top: -40px;
}

.subContact {
  margin-top: -60px;
}
// // PROJECTS /////////////////////////////////////////

.projects {
  background-color: $block-color;
  padding-bottom: 100px;
}

.portfolio-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.project-image {
  max-height: 400px;
}

.project-title {
  margin-bottom: -10px;
  text-align: center;
}

.modal-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.modal-link:hover {
  color: $pink-color;
  cursor: pointer;
  font-weight: 700;
}

.modal__description {
  margin-top: 10px;
}

.portfolio-modal {
  padding: 20px 20px;
  background-color: $background-color;
  color: white;
}

//  Experience section //////////////////////////////

.experience {
  background-color: white;
  padding-bottom: 100px;
}

.experience-container > i {
  justify-content: center;
}

.icon-grid {
  grid-gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0px 50px 50px 50px;
  padding-top: 50px;
}

.icon-grid > i {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.experience-intro {
  font-weight: 700;
  font-size: 1.2em;
  padding: 15px;
  margin-bottom: 1.5em;
  text-align: center;
}

.experience-para {
  font-size: 1em;
  padding: 15px;
  text-align: center;
}

// // // Contact section ///////////////////////////////

.contact {
  background-color: $grey-color;
  margin-top: -20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
  }

  &__info {
    font-size: 1em;
    text-align: center;
    padding: 10px 30px;
  }

  &__intouch {
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    padding: 10px 10px;
  }

  &__para {
    padding: 10px 10px;
  }
}

.me {
  max-width: 100px;
  margin-top: 50px;
}

.icon {
  font-size: 1.9em;
  padding: 5px;
}

.icon:hover {
  color: $pink-color;
}

// // // desktop ////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 568px) {
  // hide hamburger menu
  .nav-toggle,
  .nav-toggle-label {
    display: none;
    opacity: 1;
  }

  #theme-toggler {
    margin-right: 2%;
    font-size: 1.4em;
    color: $background-color;
  }

  .desktop-titles {
    float: right;
    width: 300px;
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -45px;
    margin-right: 80px;
  }

  .desktop-titles > li {
    list-style-type: none;
    font-size: 20px;
  }

  .nav__links {
    text-decoration: none;
    color: $background-color;
  }

  .nav__links:hover {
    color: $pink-color;
  }

  .mode-toggle {
    margin-right: 2%;
  }

  //   // welcome section ////////////////

  .welcome__hi {
    font-size: 200px;
    margin-top: 80px;
    margin-left: 100px;
  }

  .welcome__dot {
    margin-top: 130px;
  }

  .dot {
    font-size: 150px;
  }
  .welcome__job,
  .welcome__info {
    margin-left: 110px;
  }

  //   // projects /////////////////////////

  .subHeading {
    font-size: 5em;
    margin-left: 100px;
    margin-top: -115px;
  }

  .subContact {
    margin-top: -130px;
  }

  .portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-top: 60px;
  }

  .portfolio-item {
    padding-top: 50px;
    display: flex;
    align-items: center;
  }
  .project-image {
    height: 500px;
    width: 230px;
  }

  .portfolio-title {
    padding-top: 20px;
  }

  .project-title {
    padding: 20px 0px;
    font-size: 1.8em;
  }

  .portfolio-modal {
    padding: 20px 180px;
    background-color: $background-color;
  }

  .portfolio-content {
    overflow-y: hidden;
  }

  .portfolio-content > video {
    padding: 30px 0px;
  }
  //   //  experience ///////////////

  .experience {
    padding-bottom: 200px;
  }
  .icon-grid {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 80px;
  }

  .experience-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  .experience-intro {
    grid-column: 1 / 2;
    font-size: 20px;
    padding-left: 145px;
  }

  .experience-para {
    grid-column: 2/4;
    font-size: 20px;
  }

  //   //// contact section ////////////////////

  .me {
    margin-left: -45px;
    margin-top: -70px;
    min-width: 200px;
    min-height: 200px;
  }

  .icon {
    font-size: 40px;
    margin: 0 auto;
  }
  .contact__links {
    margin-left: -40px;
  }
  .contact__para {
    font-size: 20px;
    padding: 0px 100px 50px 100px;
  }
  .contact__intouch {
    font-size: 20px;
  }
}
