$background-color: #101628;
$grey-color: #e3e2e2;
$pink-color: #fe5541;
$block-color: #ffd2c8;
$font: "Roboto", sans-serif;
$font-headings: "Signika Negative", sans-serif;
$background-color-dark: #242323;
