.nav-container.dark,
.nav.dark {
  background-color: #242323;
}

#theme-toggler.dark,
.contact-icon.dark,
.bold.dark {
  color: #fe5541;
}

.main.dark,
.experience.dark,
.modal.dark {
  background-color: #101628;
}

.text-dark-mode.dark {
  color: #e3e2e2;
}

.projects.dark,
.contact-container.dark {
  background-color: #242323;
}

.contact-icon.dark:hover {
  color: white;
}

.subHeading.dark {
  color: #e3e2e2;
}

.nav__links.dark {
  color: #e3e2e2;
}

.nav__links.dark:hover {
  color: #fe5541;
}

.mobile-list.dark:hover {
  color: #fe5541;
}