.experience {
  background-color: white;
  padding-bottom: 100px;
  color: #101628;
}

.experience-container > i {
  justify-content: center;
}

.icon-grid {
  grid-gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0px 50px 50px 50px;
  padding-top: 50px;
}

.icon-grid > i {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.experience-intro__grid {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  font-size: 0.9em;
}
.experience-intro__grid__1 {
  padding-bottom: 15px;
}
.experience-intro__grid__2 {
  padding-bottom: 15px;
}
.experience-intro__grid__3 {
  padding-bottom: 15px;
}

.experience-intro__para3 {
  padding: 0 30px 0 30px;
  text-align: center;
  font-size: 0.9em;
}