@import "./_variables.scss";
.experience {
  background-color: white;
  padding-bottom: $heading-margin-mobile;
  color: $background-color;
}

.experience-container > i {
  justify-content: center;
}

.icon-grid {
  grid-gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0px 50px 50px 50px;
  padding-top: 50px;
}

.icon-grid > i {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.experience-intro__grid {
  display: flex;
  flex-direction: column;
  padding: $section-padding-mobile;
  text-align: center;
  font-size: $text-paragraph-size;

  &__1 {
    padding-bottom: 15px;
  }

  &__2 {
    padding-bottom: 15px;
  }
}

.experience-intro__para3 {
  text-align: center;
  padding: $section-padding-mobile;
}
