@import "./_variables.scss";
.welcome {
  padding-top: 200px;
  font-size: 5.5em;
  display: flex;
  color: $background-color;

  &__hi {
    margin-left: 30px;
  }

  &__job {
    margin-left: 35px;
    font-size: 1.5em;
  }
}

.welcome__info {
  margin-left: 35px;
  padding-top: 10px;
  font-size: 1.2em;
  margin-bottom: 250px;
  color: $background-color;
}

// // SUB-HEADINGS ///////////

.subHeading {
  color: $background-color;
  position: absolute;
  font-size: 3.2em;
  font-weight: 900;
  margin-left: 30px;
  margin-top: -40px;
}

.subContact {
  margin-top: -60px;
}

.dot {
  color: $pink-color;
}
