@import "./_variables.scss";
.projects {
  background-color: $grey-color;
  padding-bottom: 100px;
  color: $background-color;
}

.projects__description {
  padding: 70px 20px 20px 20px;
}

.projects__description2 {
  padding: 10px 20px 0px 20px;
}

.portfolio-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.project-image {
  max-height: 400px;
}

.project-title {
  text-align: center;
}

.button {
  width: 55%;
  height: 40px;
  margin: auto;
  border: none;
  border-radius: 10px;
  background-color: $background-color;
}

.button:hover {
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  background-color: $pink-color;
}
.more-info {
  color: $grey-color;
  text-decoration: none;
}

figcaption {
  display: flex;
  justify-content: center;
}
