@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#theme-toggler {
  margin-right: 20%;
  font-size: 1.4em;
  color: #101628;
}

.logo {
  margin: 0;
  padding: 10px;
  max-height: 4em;
}

.nav-toggle {
  display: none;
}

.desktop-titles {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5%;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: #101628;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label.dark span,
.nav-toggle-label.dark span::before,
.nav-toggle-label.dark span::after {
  background-color: #fe5541;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  /* this will change it to no content so just have the lines */
  content: " ";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  background-color: #e3e2e2;
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  overflow-x: hidden;
}

nav ul {
  list-style: none;
  padding: 15px;
}

nav li {
  margin-bottom: 0.5em;
}

nav a {
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

/* below will display the NAV only of the checked box is ticked */
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.welcome {
  padding-top: 200px;
  font-size: 5.5em;
  display: flex;
  color: #101628;
}
.welcome__hi {
  margin-left: 30px;
}
.welcome__job {
  margin-left: 35px;
  font-size: 1.5em;
}

.welcome__info {
  margin-left: 35px;
  padding-top: 10px;
  font-size: 1.2em;
  margin-bottom: 250px;
  color: #101628;
}

.subHeading {
  color: #101628;
  position: absolute;
  font-size: 3.2em;
  font-weight: 900;
  margin-left: 30px;
  margin-top: -40px;
}

.subContact {
  margin-top: -60px;
}

.dot {
  color: #fe5541;
}

.projects {
  background-color: #e3e2e2;
  padding-bottom: 100px;
  color: #101628;
}

.projects__description {
  padding: 100px 30px 0 30px;
}

.projects__description2 {
  padding: 20px 30px 30px 30px;
}

.portfolio-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.project-image {
  max-height: 400px;
}

.project-title {
  text-align: center;
}

.button {
  width: 55%;
  height: 40px;
  margin: auto;
  border: none;
  border-radius: 10px;
  background-color: #101628;
}

.button:hover {
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  background-color: #fe5541;
}

.more-info {
  color: #e3e2e2;
  text-decoration: none;
}

figcaption {
  display: flex;
  justify-content: center;
}

.experience {
  background-color: white;
  padding-bottom: 100px;
  color: #101628;
}

.experience-container > i {
  justify-content: center;
}

.icon-grid {
  grid-gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0px 50px 50px 50px;
  padding-top: 50px;
}

.icon-grid > i {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.experience-intro__grid {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  font-size: 1em;
}
.experience-intro__grid__1 {
  padding-bottom: 15px;
}
.experience-intro__grid__2 {
  padding-bottom: 15px;
}

.experience-intro__para3 {
  text-align: center;
  padding: 30px;
}

.contact-container {
  background-color: #e3e2e2;
  margin-top: -20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #101628;
}

.contact__para {
  padding: 30px;
  text-align: center;
}
.contact__icons {
  width: 100vw;
  margin-top: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101628;
}
.contact__icons__text {
  color: #e3e2e2;
}
.contact__intouch {
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  padding: 15px 30px 10px 30px;
}
.contact__links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  text-decoration: none;
}
.contact__cv {
  display: flex;
  flex-direction: center;
}
.contact__cv__btn {
  width: 25%;
  height: 40px;
  margin: auto;
  border: none;
  border-radius: 10px;
  background-color: #101628;
  margin-bottom: 20px;
}

.contact-icon {
  text-decoration: none;
  color: #fe5541;
  font-size: 1.9em;
  padding: 7px;
}

.contact-icon:hover {
  color: #101628;
}

.contact__cv__btn:hover {
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  background-color: #fe5541;
}

.me {
  max-width: 100px;
  margin-top: 50px;
}

.modal__description {
  margin-top: 10px;
}

.portfolio-modal {
  display: none;
  position: fixed;
  z-index: 10;
  background: #101628;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
  box-shadow: 0 0 0 5em rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
.portfolio-modal.is-open {
  display: block;
}

.project-title {
  font-size: 1.5em;
  color: #fe5541;
  padding-bottom: 10px;
}

.portfolio-subtitle {
  font-weight: 700;
  padding-bottom: 10px;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.portfolio-content > p {
  padding-top: 10px;
  padding-bottom: 20px;
}

.code-link-btn {
  width: 110px;
  height: 40px;
  margin: auto;
  border: none;
  border-radius: 10px;
  background-color: #fe5541;
  margin-bottom: 20px;
}

.code-link-btn > a {
  text-decoration: none;
  color: #e3e2e2;
}

.code-link-btn:hover {
  background-color: #101628;
  border: 2px solid #fe5541;
}

.close-modal {
  background: #fe5541;
  cursor: pointer;
  position: fixed;
  right: 2.9em;
  top: 2.9em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding: 2px;
  border: none;
}

.close-modal > h1 {
  font-weight: 500;
  font-size: 1.2em;
  color: white;
}

@keyframes modalIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modalOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.nav-container.dark,
.nav.dark {
  background-color: #242323;
}

#theme-toggler.dark,
.contact-icon.dark,
.bold.dark {
  color: #fe5541;
}

.main.dark,
.experience.dark,
.modal.dark {
  background-color: #101628;
}

.text-dark-mode.dark {
  color: #e3e2e2;
}

.projects.dark,
.contact-container.dark {
  background-color: #242323;
}

.contact-icon.dark:hover {
  color: white;
}

.subHeading.dark {
  color: #e3e2e2;
}

.nav__links.dark {
  color: #e3e2e2;
}

.nav__links.dark:hover {
  color: #fe5541;
}

.mobile-list.dark:hover {
  color: #fe5541;
}

@media screen and (min-width: 568px) {
  .nav-toggle,
.nav-toggle-label {
    display: none;
    opacity: 1;
  }

  #theme-toggler {
    margin-right: 2%;
    font-size: 1.4em;
    color: #101628;
  }

  header {
    overflow-y: hidden;
  }

  .desktop-titles {
    float: right;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -45px;
    margin-right: 80px;
  }

  .desktop-titles > li {
    list-style-type: none;
    font-size: 1.3em;
  }

  .nav__links {
    text-decoration: none;
    color: #101628;
  }

  .nav__links:hover {
    color: #fe5541;
  }

  .mode-toggle {
    margin-right: 2%;
  }

  .welcome__hi {
    font-size: 2.5em;
    margin-top: 80px;
    margin-left: 7%;
  }

  .welcome__dot {
    margin-top: 130px;
  }

  .dot {
    font-size: 150px;
  }

  .welcome__job,
.welcome__info {
    margin-left: 7%;
  }

  .subHeading {
    font-size: 5em;
    margin-left: 7%;
    margin-top: -115px;
  }

  .subContact {
    margin-top: -130px;
  }

  .button {
    width: 100px;
    height: 50px;
  }

  .projects__description,
.projects__description2 {
    padding: 20px 17% 0 17%;
    font-size: 1em;
    text-align: center;
  }

  .projects__description {
    padding-top: 7%;
  }

  .portfolio-items {
    display: grid;
    padding: 0 7% 0 7%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-top: 60px;
  }

  .portfolio-item {
    padding-top: 10px;
    display: flex;
    align-items: center;
  }

  .project-image {
    width: 210px;
  }

  .portfolio-title {
    padding-top: 15px;
  }

  .project-title {
    padding: 20px 0px;
    font-size: 1.5em;
  }

  .portfolio-content {
    overflow-y: hidden;
  }

  .portfolio-content > video {
    padding: 30px 0px;
    min-width: 500px;
  }

  .portfolio-modal {
    padding: 30px 100px 30px 100px;
  }

  .experience {
    padding-bottom: 200px;
  }

  .icon-grid {
    width: 80vw;
    height: 300px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 7% 7% 7% 7%;
  }

  .experience-intro__grid {
    width: 100vw;
    height: 380px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-size: 1em;
    padding: 0 17% 0 17%;
    gap: 30px;
  }
  .experience-intro__grid__1 {
    grid-column: 1/3;
    grid-row: 1/2;
    font-weight: 700;
  }
  .experience-intro__grid__2 {
    grid-column: 1/3;
    grid-row: 2/3;
    font-weight: 700;
  }
  .experience-intro__grid__3 {
    grid-column: 3/4;
    grid-row: 1/3;
    font-weight: 400;
  }

  .experience-intro__para3 {
    padding: 0px 17% 0 17%;
    font-weight: 400;
    font-size: 1em;
  }

  .me {
    margin-left: -45px;
    margin-top: -70px;
    min-width: 200px;
    min-height: 200px;
  }

  .contact__para {
    padding: 30px 17% 20px 17%;
    font-size: 1em;
  }
  .contact__cv__btn {
    width: 150px;
    font-size: 1em;
  }
  .contact__icons {
    margin-top: 30px;
  }
  .contact__intouch {
    margin-top: 30px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

i:hover {
  cursor: pointer;
}

.light-text {
  color: #e3e2e2;
}

.bold {
  color: #fe5541;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #e3e2e2;
}

*::-webkit-scrollbar-thumb {
  background: #101628;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #101628;
}

header {
  background-color: #e3e2e2;
  text-align: center;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}